:root{
    --font: 'Inter', sans-serif;
    --cor-de-fundo: #222222;
    --cor-font-btn: #f6f3f3;
    --cor-do-texto: #3EC70B;
    --btn: #181917;
    --cor-do-texto-exclamacao: #33980e;
    --cor-borda: #ffffff;
    --btn-hover: #57d928;
    --color-hover: #171717;
    --filtro-interruptor: grayscale(1) opacity(0.25);
}

.tema-claro{
    --cor-de-fundo:#363596;
    --btn: #363596;
    --color-hover: #f7f7f7;
    --cor-do-texto-exclamacao: #e34c2d;
    --filtro-interruptor: grayscale(0) opacity(1);
}